@media screen and (min-width: 769px) {
    .signupBlock {
      width: 100%;
      margin-top: 4.444vw;
      margin-bottom: 5.444vw;
    }
    .signupWrapper {
      width: 100%;
    }
    .signupBox {
      /* max-width: 50.55vw; */
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-direction: column;
    }
    .signupBox h3 {
   font-family: "neue-haas-grotesk-display-pro", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 2.08333vw;
      line-height: 2.777vw;
      text-align: center;
      color: #000000;
    }
    .signupBox p.description {
      font-style: normal;
      font-weight: normal;
      font-size: 1.25vw;
      line-height: 150%;
      text-align: center;
      color: #000000;
      max-width: 51.55vw;
      opacity: 0.5;
      margin: 0.635vw auto 1.736vw auto;
   font-family: "neue-haas-grotesk-display-pro", sans-serif;
    }
    .inputBox {
      width: 100%;
      max-width: 31.59722vw;
      position: relative;
    }
    .emailError {
   font-family: "neue-haas-grotesk-display-pro", sans-serif;
      position: absolute;
      left: 0;
      top: -1.362vw;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 150%;
      color: #f41818;
    }
    #inputWrapper {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border: 1px solid #EEEEEE;
      border-radius: 0.347vw;
      padding: 0.763vw 0.624vw 0.763vw 1.804vw;
    }
    #inputWrapper input {
      font-style: normal;
      font-weight: 500;
      font-size: 1.111vw;
      line-height: 1.4583vw;
      letter-spacing: 0.05em;
      color: rgba(0, 0, 0, 1);
      border: none;
      flex-grow: 1;
      padding-right: 0.7vw;
      font-family: "neue-haas-grotesk-display-pro", sans-serif;
    }
    #inputWrapper input::-webkit-placeholder,
    #inputWrapper input::-moz-placeholder,
    #inputWrapper input::-ms-placeholder {
      font-style: normal;
      font-weight: 500;
      font-size: 1.111vw;
      line-height: 1.4583vw;
      letter-spacing: 0.05em;
      color: rgba(0, 0, 0, 0.2);
   font-family: "neue-haas-grotesk-display-pro", sans-serif;
    }
    #inputWrapper button {
        /* font-family: Helvetica, sans-serif; */
      font-style: normal;
      font-weight: 600;
      font-size: 1.111vw;
      line-height: 1.45vw;
      letter-spacing: 0.05em;
      color: #ffffff;
      padding: 0.971vw 1.873vw;
      border-radius: 0.347vw;
      background-color: #3f5cfb;
      border: 1px solid #3f5cfb;
      transition: all 0.3s;
      text-transform: uppercase;
    }
    #inputWrapper button:hover {
      background-color: #fff;
      color: #3f5cfb;
    }
   
    p.thankYou {
      font-style: normal;
      font-weight: normal;
      font-size: 1vw;
      line-height: 150%;
      text-align: center;
      color: #000000;
      margin-bottom: 1.388vw;
   font-family: "neue-haas-grotesk-display-pro", sans-serif;
    }
    p.thankYou span {
      font-weight: 600;
      color: #3f5cfb;
    }
  }
  
  @media screen and (max-width: 768px) {
    .signupBlock {
      width: 100%;
      margin-top: 12.8vw;
      padding-bottom: 5.444vw;
    }
    .signupWrapper {
      width: 100%;
    }
    .signupBox {
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-direction: column;
    }
    .signupBox h3 {
      font-family: "neue-haas-grotesk-display-pro", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 6.4vw;
      line-height: 7.466vw;
      text-align: center;
      color: #000000;
      /* max-width: calc(100% - 12.54vw); */
      max-width: 100%;
    }
    .signupBox p.description {
      font-style: normal;
      font-weight: normal;
      font-size: 4.2666vw;
      line-height: 6.4vw;
      text-align: center;
      color: #000000;
      opacity: 0.5;
      margin: 2.1333vw auto 6.4vw auto;
      font-family: "neue-haas-grotesk-display-pro", sans-serif;
      /* max-width: calc(100% - 3.54vw); */
      max-width: 100%;
    }
    .inputBox {
      width: 100%;
      max-width: 100%;
      position: relative;
    }
    .emailError {
   font-family: "neue-haas-grotesk-display-pro", sans-serif;
      position: absolute;
      left: 6.666vw;
      top: -5.362vw;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 150%;
      color: #f41818;
    }
    #inputWrapper {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
    
    }
    #inputWrapper input {
      width: 76.53vw;
      border: 1px solid #B4BDC0;
      border-radius: 1.385vw;
      padding: 3.7333vw 3.7333vw 3.7333vw 4.432vw;
      font-style: normal;
      font-weight: 500;
      font-size: 3.7333vw;
      line-height: 4.8vw;
      letter-spacing: 0.05em;
      color: rgba(0, 0, 0, 1);
      flex-grow: 1;
      font-family: "neue-haas-grotesk-display-pro", sans-serif;
    }
    #inputWrapper input::-webkit-placeholder,
    #inputWrapper input::-moz-placeholder,
    #inputWrapper input::-ms-placeholder {
      font-style: normal;
      font-weight: 500;
      font-size: 3.7333vw;
      line-height: 4.8vw;
      letter-spacing: 0.05em;
      color: rgba(0, 0, 0, 0.2);
   font-family: "neue-haas-grotesk-display-pro", sans-serif;
      opacity: .2;
    }
    #inputWrapper button {
      width: 76.53vw;
      white-space: nowrap;
      font-style: normal;
      font-weight: 500;
      font-size: 4.2666vw;
      line-height: 5.6vw;
      letter-spacing: 0.05em;
      color: #ffffff;
      padding: 3.878vw 5.479vw;
      border-radius: 5px;
      background-color: #3f5cfb;
      text-transform: uppercase;
      font-family: Helvetica, sans-serif;
      margin-top: 4.2666vw;
    }
    p.extraInfo {
      font-style: normal;
      font-weight: normal;
      font-size: 3.878vw;
      line-height: 150%;
      text-align: center;
      color: #000000;
      margin-top: 3.7333vw;
   font-family: "neue-haas-grotesk-display-pro", sans-serif;
    }
    p.extraInfo span {
      font-weight: 600;
    }
    p.thankYou {
      font-style: normal;
      font-weight: normal;
      font-size: 3.2vw;
      line-height: 150%;
      text-align: center;
      color: #000000;
      margin-bottom: 2.2vw;
   font-family: "neue-haas-grotesk-display-pro", sans-serif;
    }
    p.thankYou span {
      font-weight: 600;
      color: #3f5cfb;
    }
  }
  