
@media screen and (min-width:769px){

    .blogPageBottomBlock{
        margin-top: 9.866vw; 
    }
    .shapeBox{
        width:100%;
        height:21.86vw;
        position: relative;
        overflow: hidden;
    }

    .boxWrapper{
        width:100%;
        text-align: center;
        transform: translateY(23%);
    }
   
 
}

@media screen and (max-width:768px){

    .blogPageBottomBlock{
        margin-top: 13.866vw; 
    }
    .shapeBox{
     
        width:95%;
        margin: auto;
        height:20.78vw;
        position: relative;
        overflow: hidden;
    }

 
    .boxWrapper{
        width:100%;
        text-align: center;
        transform: translateY(-33%);
    }

    .boxWrapper svg{
        width: 100%;
    }
    
 
  
}