@media screen and (min-width: 769px) {
    #heroBanner {
        width: 100%;
        position: relative;
        margin-top: 7.627vw;
        margin-bottom: 70px;
        background-color: #1C345C;
        /* z-index: -1; */
      }

      .mainDiv{
          position: relative;
          z-index: 1;
      }

      .heroBannerBgElements svg:nth-child(1){
        /* width: 6.736vw; */
        position: absolute;
        left: 0;
        bottom: 0;
    
    }
    .heroBannerBgElements svg:nth-child(2){
        /* width: 32.43vw;   */
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: -1;
    }

      .heroBannerContainer{
          display: flex;
          justify-content: space-between;
          padding-top: 96px;
          padding-bottom: 96px;
          z-index: 1;
      }


      .leftBlock{
          width: 40%;
          font-family: "neue-haas-grotesk-display-pro", sans-serif;
      }

      .backToDirectoryLink{
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        color: #fff;    
      }

      .backToDirectoryLink svg{
          margin-right: 12px;
      }

      .partnerInfo{
          margin-top: 32px;
          display: flex;
          justify-content: left;
          align-items: center;
      }

      .partnerLogo{
          width: 166px;
          height: 166px;
          background-color: #fff;
          border-radius: 50%;
          margin-right: 48px;
          display: flex;
          justify-content: center;
          align-items: center;
      }

      .partnerLogo img{
          width: 142px;
          height: 41px;
      }

      .partnerDetails p{
        font-size: 40px;
        font-style: normal;
        font-weight: 400;
        line-height: 44px;
        letter-spacing: 0em;
        text-align: left;
        color: #fff;
        margin-bottom: 16px;
      }

      .partnerDetails .partnerLink{
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.01em;
        text-align: left;
        text-decoration: underline;
        color: #fff;
      }

      .partnerDetails .partnerLink svg{
          margin-right: 10px;
      }

      .partnerDetails .contactBtn{
        margin-top: 24px;
        display: block;
        appearance: none;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 21px;
        letter-spacing: 0.05em;
        text-align: left;
        color: #fff;
        text-transform: uppercase;
        background-color: #3F5CFB;
        border-radius: 5px;
        padding: 14px 27px;
      }

}


