@media screen and (min-width: 769px) {
    .servicePageSignupBlock{
        text-align: center;
        font-family: "neue-haas-grotesk-display-pro", sans-serif;

    }

    .signupContainer{
        margin:auto;
        position: relative;
    }

    .topBlock{
        background-color: #162740;
        padding: 7.569vw 6.9444vw 11.1111vw;
        margin-bottom: 6.666vw;
        position: relative;
        background: url(/images/signup-block-bg-image.png);
        background-size: contain;
        background-repeat: no-repeat;
    }

    .topBlock .designBlock svg:first-child{
        position: absolute;
        top: 10px;
        left: 9px;
    }

    .topBlock .designBlock svg:nth-child(2){
        position: absolute;
        top: 10px;
        right: 23px;
    }

    .topBlock .designBlock svg:nth-child(3){
        position: absolute;
        width: 100%;
        bottom: 0px;
        left: 0;
        right: 0;
    }

    .topBlock .designBlock svg:nth-child(4){
        position: absolute;
        bottom: 84px;
        left: -320px;
    }

    .topBlock .designBlock svg:nth-child(5){
        position: absolute;
        width: 100%;
        bottom: 0px;
        left: 0;
        right: 0;
    }

    .textBlock{
        color: #fff;
        display: flex;
    }

    .leftSegment{
        width: 45%;
    }
    .rightSegment{
        width: 55%;
    }

    .leftSegment h4{
        font-family: "neue-haas-grotesk-display-pro", sans-serif;
        font-size: 2.777vw;
        font-style: normal;
        font-weight: 400;
        line-height: 3.75vw;
        letter-spacing: 0em;
        text-align: left;
    }

    .rightSegment p{
        font-family: "neue-haas-grotesk-display-pro", sans-serif;
        font-size: 1.25vw;
        font-style: normal;
        font-weight: 400;
        line-height: 1.875vw;
        letter-spacing: 0em;
        text-align: left;
        margin-bottom: 2.222vw;
    }
    .rightSegment p span{
        opacity: .7;
    }

    .bottomBlock{
        width: 47.6111vw;
        margin: auto;
    }

    .bottomBlock h1{
        font-family: "neue-haas-grotesk-display-pro", sans-serif;
        font-size: 2.5vw;
        font-style: normal;
        font-weight: 400;
        line-height: 3.26888vw;
        letter-spacing: 0em;
        text-align: center;
        margin-bottom: 1.666vw;
    }

    .bottomBlock p{
        font-family: "neue-haas-grotesk-display-pro", sans-serif;
        font-size: 1.25vw;
        font-style: normal;
        font-weight: 400;
        line-height: 1.875vw;
        letter-spacing: 0em;
        text-align: center;
        opacity: .5;
        padding: 0 1.3888vw;
        margin-bottom: 2.777vw;
    }

    .buttonBlock{
        text-align: center;
        margin-bottom: 3.47222vw;
    }

    .buttonBlock .signupButton{
        margin: auto;
        width: 16.875vw;
        height: 3.40277vw;
        background-color: #3C55FF;
        color: white;
        border-radius: 5px;
        font-size: 1.111vw;
        font-style: normal;
        font-weight: 700;
        line-height: 1.45333vw;
        letter-spacing: 0.05em;
        text-align: center;
        text-transform: uppercase;
        cursor: pointer;
        border: 1px solid #3C55FF;
        transition: all .3s;
    }

    .buttonBlock .signupButton:hover{
        color: #3C55FF;
        background-color: #fff;
    }
  
}


@media screen and (max-width: 768px) {
    .servicePageSignupBlock{
        text-align: center;
        font-family: "neue-haas-grotesk-display-pro", sans-serif;
        margin-top: 17vw;
    }

    .signupContainer{
        margin:auto;
        position: relative;
    }

    .topBlock{
        background-color: #162740;
        padding: 15vw 5.333vw 43.7333vw;
        margin-bottom: 15vw;
        position: relative;
    }

    .topBlock .designBlock svg:first-child{
        position: absolute;
        top: 8px;
        left: 30px;
    }

    .topBlock .designBlock svg:nth-child(2){
        position: absolute;
        width: 100%;
        bottom: 0px;
        left: 0;
        right: 0;
    }

    .textBlock{
        color: #fff;
        display: flex;
        flex-direction: column;
    }

    .leftSegment{
        width: 100%;
    }
    .rightSegment{
        width: 100%;
    }

    .leftSegment h4{
        font-size: 7.4666vw;
        font-style: normal;
        font-weight: 400;
        line-height: 10.1333vw;
        letter-spacing: 0em;
        text-align: left;
        margin-bottom: 4.2666vw;
    }

    .rightSegment p{
        font-size: 3.73333vw;
        font-style: normal;
        font-weight: 400;
        line-height: 5.86666vw;
        letter-spacing: 0em;
        text-align: left;
        margin-bottom: 4.2666vw;
    }
    .rightSegment p span{
        opacity: .5;
    }

    .bottomBlock{
        /* width: 47.6111vw; */
        margin: auto;
    }

    .bottomBlock h1{
        font-size: 9.6vw;
        font-style: normal;
        font-weight: 400;
        line-height: 12.5333vw;
        letter-spacing: 0em;
        text-align: center;    
        margin-bottom: 5.333vw;
    }

    .bottomBlock p{
        width: 90%;
        margin: auto;
        opacity: .5;
        font-size: 4.2666;
        font-style: normal;
        font-weight: 400;
        line-height: 6.4vw;
        letter-spacing: 0em;
        text-align: center;
        margin-bottom: 6.4vw;
    }

    .buttonBlock{
        text-align: center;
        margin-bottom: 3.47222vw;
    }

    .buttonBlock .signupButton{
        font-family: "neue-haas-grotesk-display-pro", sans-serif;
        margin: auto;
        width: 53.875vw;
        height: 12.2666vw;
        background-color: #3C55FF;
        color: white;
        border-radius: 5px;
        font-size: 3.73333vw;
        font-style: normal;
        font-weight: 400;
        line-height: 4.8vw;
        letter-spacing: 0.05em;
        text-align: center;
        text-transform: uppercase;
        cursor: pointer;
        border: 1px solid #3C55FF;
        transition: all .3s;
    }

    .buttonBlock .signupButton:hover{
        color: #3C55FF;
        background-color: #fff;
    }
  
}
