* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
  outline: none;
}

button {
  border: unset;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

.slick-arrow {
  display: none !important;
}
@media screen and (min-width: 769px) {
  .slideIn {
    transform: translateY(-20%);
    opacity: 0;
    transition: all 0.4s linear 1s;
  }
  .slick-active .slideIn {
    opacity: 1;
    transform: translateY(0);
  }
  .slideLeft {
    opacity: 0;
    transition: opacity 0.5s ease-in;
  }
  .slick-active .slideLeft {
    opacity: 1;
  }
  .clientContainer .fresnel-container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 2;
  }
  p.SMS {
    max-width: 16.905vw !important;
  }

  /* service section */
  /* #serviceBlockId{
    height: 100vh;
  } */
  #serviceBoxParent.stick {
    position: fixed;
    top: 0;
    left: 5.582vw;
    height: 100vh;
    width: calc(88.832vw - 2.082vw);
    z-index: 2;
  }
  #featureBoxBlock.paddingBottom {
    padding-top: 100vh;
  }
  body.stick {
    overflow: hidden;
  }
  /* .panel,#serviceBoxParent{
    height:100%;
  } */
  #featureBlockBox.sticky {
    margin-top: 100vh;
  }
  .commonSlideBox.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0%);
  }
  /* Service section */
  body {
    overflow-x: hidden;
  }
}



.container {
  width: 100%;
  max-width: 88.832vw;
  margin: 0 auto;
}

html,
body {
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  font-family: "neue-haas-grotesk-display", sans-serif;
  font-weight: 400;
  /* overflow-x: hidden; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/*! locomotive-scroll v3.5.4 | MIT License | https://github.com/locomotivemtl/locomotive-scroll */
html.has-scroll-smooth {
  overflow: hidden;
}

html.has-scroll-dragging {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.has-scroll-smooth body {
  overflow: hidden;
}

.has-scroll-smooth [data-scroll-container] {
  min-height: 100vh;
}

.c-scrollbar {
  position: absolute;
  right: 0;
  top: 0;
  width: 11px;
  height: 100vh;
  transform-origin: center right;
  transition: transform 0.3s, opacity 0.3s;
  opacity: 0;
}
.c-scrollbar:hover {
  transform: scaleX(1.45);
}
.c-scrollbar:hover,
.has-scroll-scrolling .c-scrollbar,
.has-scroll-dragging .c-scrollbar {
  opacity: 1;
}

.c-scrollbar_thumb {
  position: absolute;
  top: 0;
  right: 0;
  background-color: hotpink;
  opacity: 0.5;
  width: 7px;
  border-radius: 10px;
  margin: 2px;
}

@media screen and (min-width: 769px) {
  /* marketing page */
  #fullpage .rightImageContainer .active {
    opacity: 1;
    transform: translateY(0);
  }
  .animateIndex{
    cursor: pointer;
  }
  .active .animateIndex {
    background-color: #3f5cfb;
    color: #fff;
    border-color: #3f5cfb;
  }
  /* marketing css - Form */
  .registration_m {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  form.registration_m .form-group {
    position: relative;
    width: 100%;
  }
  form.registration_m .form-group.common-name {
    width: calc((100% - 19px) / 2);
  }
  form.registration_m .form-group .error-response {
    position: absolute;
    font-family: "neue-haas-grotesk-text", sans-serif;
    top: 1.319vw;
    right: 1.180vw;
    color: #AE2B2B;
    font-size: 0.8333vw;
    font-style: normal;
    font-weight: normal;
    line-height: 1.111vw;
    letter-spacing: 0em;
    text-align: right;
    align-items: center;
  }
  .error-response svg{
    margin-left: 0.277vw;
  }
  /* .error-response.remove-error{
    display: none!important;
  } */
  form.registration_m input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
    width: 100%;
    background: transparent;
    border: 1px solid #bebebe;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: "neue-haas-grotesk-display", sans-serif;
    font-size: 1.111vw;
    font-style: normal;
    font-weight: 400;
    line-height: 1.458vw;
    letter-spacing: 0em;
    text-align: left;
    box-shadow: none;
    outline: none;
    padding: 0.9722vw 1.3888vw;
    box-sizing: border-box;
    margin-bottom: 1.1111vw;
  }
  /* form.registration_m input:focus + .error-response{
   display: none!important;
  } */
  form.registration_m input::-webkit-input-placeholder {
    color: #737d8c;
    font-size: 1.111vw;
    font-style: normal;
    font-weight: 400;
    font-family: "neue-haas-grotesk-text", sans-serif;
  }
  form.registration_m input::-moz-input-placeholder {
    color: #737d8c;
    font-size: 1.111vw;
    font-style: normal;
    font-weight: 400;
    font-family: "neue-haas-grotesk-text", sans-serif;
  }
  form.registration_m input::-ms-input-placeholder {
    color: #737d8c;
    font-size: 1.111vw;
    font-style: normal;
    font-weight: 400;
    font-family: "neue-haas-grotesk-text", sans-serif;
  }
  form.registration_m .form_group {
    position: relative;
    width: 100%;
  }
  form.registration_m .form_group span.error_response {
    font-family: "neue-haas-grotesk-display", sans-serif;
    position: absolute;
    top: 64px;
    left: 0;
    font-size: 10px;
    color: red;
    display: none;
  }
  form.registration_m button[type="submit"] {
    /* padding: 14px 15px 14px 15px; */
    color: #fff;
    width: 13.1944vw;
    background-color: #3f5cfb;
    border: 1px solid #3f5cfb;
    border-radius: 4px;
    text-transform: uppercase;
    font-family: "neue-haas-grotesk-display", sans-serif;
    font-size: 1.111vw;
    font-style: normal;
    font-weight: 600;
    line-height: 1.458vw;
    letter-spacing: 0.05em;
    text-align: center;
    box-shadow: none;
    outline: none;
    border: none;
    cursor: pointer;
    margin-top: 9px;
    transition: .3s;
    height: 3.402vw;
    /* padding: 0.902vw 1.665vw; */
  }
  form.registration_m button[type="submit"]:hover{
    background-color: #fff;
    border: 1px solid #3f5cfb;
    color: #3f5cfb;
  }
}

@media screen and (min-width: 769px ) and (max-width: 1024px){
  form.registration_m input {

    padding: 1.22vw 1.5888vw;
   
  }
  form.registration_m button[type="submit"] {
    height: 4vw;
  }
}

@media screen and (max-width: 768px) {
  #main-container {
    padding-top: 66px;
  }
  .slideLeft #Moonpod {
    width: 41.4vw !important;
  }
  .container {
    width: 100%;
    max-width: 90.18vw;
    margin: 0 auto;
  }
  .clientContainer .slick-track {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  body {
    overflow-x: hidden;
  }

   /* marketing css - Form : Mobile */
   .registration_m {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 80vw;
  }
  form.registration_m .form-group {
    position: relative;
    width: 100%;
  }
  form.registration_m .form-group.common-name {
    width: calc((100% - 17px) / 2);
  }
  form.registration_m .form-group .error-response {
    position: absolute;
    font-family: "neue-haas-grotesk-text", sans-serif;
    top: 3.7333vw;
    right: 2.1333vw;
    font-size: 2.666vw;
    color: #AE2B2B;
    align-items: center;
  }

  .error-response svg{
    margin-left: 2px;
  }
  form.registration_m input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
    width: 100%;
    background: transparent;
    border: 1px solid #bebebe;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: "neue-haas-grotesk-text", sans-serif;
    font-size: 3.7333vw;
    font-style: normal;
    font-weight: 400;
    line-height: 4.8vw;
    letter-spacing: 0em;
    text-align: left;
    box-shadow: none;
    outline: none;
    padding: 2.666vw 5.333vw;
    box-sizing: border-box;
    margin-bottom: 4.2666vw;
  }
 
  form.registration_m input::-webkit-input-placeholder {
    color: #737d8c;
    font-size: 3.7333vw;
    font-style: normal;
    font-weight: 400;
    font-family: "neue-haas-grotesk-text", sans-serif;
  }
  form.registration_m input::-moz-input-placeholder {
    color: #737d8c;
    font-size: 3.7333vw;
    font-style: normal;
    font-weight: 400;
    font-family: "neue-haas-grotesk-text", sans-serif;
  }
  form.registration_m input::-ms-input-placeholder {
    color: #737d8c;
    font-size: 3.7333vw;
    font-style: normal;
    font-weight: 400;
    font-family: "neue-haas-grotesk-text", sans-serif;
  }
  form.registration_m .form_group {
    position: relative;
    width: 100%;
  }
  form.registration_m .form_group span.error_response {
    font-family: "neue-haas-grotesk-text", sans-serif;
    position: absolute;
    top: 64px;
    left: 0;
    font-size: 10px;
    color: red;
    display: none;
  }
  form.registration_m button[type="submit"] {
    padding: 3.7333vw 4px;
    color: #fff;
    width: 100vw;
    background-color: #3f5cfb;
    border-radius: 5px;
    text-transform: uppercase;
    font-family: "neue-haas-grotesk-text", sans-serif;
    font-size: 3.73333vw;
    font-style: normal;
    font-weight: 600;
    line-height: 4.8vw;
    letter-spacing: 0.05em;
    text-align: center;
    box-shadow: none;
    outline: none;
    border: none;
    cursor: pointer;
    margin-top: 9px;
  }


  /* marketing stats */

  .statsContainer .slick-slide{
    /* width: 77.6vw!important; */
    /* transform: translateX(44.4vw); */
    /* max-width: 80%!important; */
  }

  .statsContainer .slick-dots{
    bottom: 6px;
  }

  .statsContainer .slick-dots li{
    margin: 0 3px;;
  }

  .statsContainer .slick-dots li button:before{
    opacity: .2;
    color: white;
  }
  .statsContainer .slick-dots li.slick-active button:before{
    opacity: 1;
    color: white;
  }

  .statAnimate{
    transition:all .3s;
  }


  .statsContainer .slick-slide:nth-child(odd) .statAnimate{
    background-color: #3f5cfb;

  }
  .statsContainer .slick-slide:nth-child(even) .statAnimate{
    background-color: #162740;

  }
}
